/**
* CSS styling for web development portfolio site
**/

/**
* Part 1: CSS for the index page
**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  line-height: 32px;
  background-image: url("../images/white-waves.png");
}

section {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 28px;
  font-family: sans-serif;
  color: #777777;
}

img {
  float: left;
  padding: 10px;
}

footer {
  padding: 20px;
  clear: both;
  background: #666666;
  border-top: 10px solid #4aaaa5;
  color: white;
  text-align: center;
  font-size: 15px;
  bottom: 0;
}

.name,
.contact,
.portfolio,
.about {
  padding: 20px 10px;
}

.contact,
.portfolio,
.about {
  font-family: sans-serif;
}

.name {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: white;
  background-color: #4aaaa5;
}

.menu {
  border: 1px solid #fff;
  background-color: white;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #dddddd;
}
.options {
  display: flex;
  justify-content: space-around;
  color: lightgray;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  width: 960px;
  background: #ffffff;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 175px;
  margin-right: 175px;
  border: 1px solid #dddddd;
  border-width: 1px;
}

.section-line {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dddddd;
  border-width: 1px;
}

form {
  color: lightgray;
  font-family: sans-serif;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
}

button {
  background-color: #4aaaa5;
  font-family: sans-serif;
  color: white;
  border: solid;
  padding: 10px;
}

textarea {
  height: 100px;
}

input,
textarea {
  width: 100%;
}

.portfolio-box {
  display: flex;
  flex-flow: row wrap;
}
/** 
* CSS styling for the contact page
**/

/** 
* CSS styling for the portfolio page
**/
